{% extends 'base.html' %}
{% load static %}
{% block title %}
	Sale
{% endblock %}

{% block content %}

<!-- start banner -->
<div class="shop_top">
		<div class="container">
			<div class="row shop_box-top">
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/11.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/2.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/3.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/5.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
				
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
			</div>
			<div class="row shop_box-top">
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/1.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/6.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
			
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/7.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				<div class="col-md-3 shop_box"><a href="single.html">
					<img src="images/1.jpg" class="img-responsive" alt="">
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
					
					</a>
						<div class="special-info grid_1 simpleCart_shelfItem">
							<h5>Consectetur adipis</h5>
							<div class="item_add"><span class="item_price"><span class="reducedfrom">$66.00</span>
								<span class="actual">$12.00</span></span></div>
							<div class="item_add"><span class="item_price"><a href="#">Add to cart</a></span></div>
						</div>
				</div>
				</div>
			</div>
	   </div>
{% endblock %}